<% title "Mitfahrgemeinschaften" %>
<% javascript_include_tag "jquery-ba-url-min", "pagination" %>

<div class="maincategorie_head">
	<div>
		Alle Anzeigen:
	</div>
	<div>
		<a href="<%= new_drife_path %>">
			<div></div>
			<%= link_to 'Anzeige hinzufügen', new_drife_path %>
		</a>
	</div>
</div>
<div class="filters">
	<div>
		<span>Filter:</span>Anzeige <%= select_tag(:filter, options_for_select([['alle', 'alle'], ['Fahre', 't'], ['Suche', 'f']])) %>
	</div>
	<div>
		<!-- storing the params to set select-lists via javascript -->
		<%= hidden_field_tag :filter_value, (params[:filter] or "")  %>
	</div>
</div>

<div id="drives">
	<%= render :partial => 'drives' %>
</div>