<% title "Mitfahrgemeinschaften - Anzeige hinzufügen" %>
<%= stylesheet_link_tag "datepicker.css" %>
<%= javascript_include_tag "jquery_ui.js" %>
<%= javascript_include_tag "timepicker.js" %>

<h1>Mitfahrgemeinschaft hinzufügen</h1>

<% if not current_user %>
	<p>Sie müssen angemeldet sein, um neue Gegenstände eintragen zu können.</p>
<% elsif current_user and not current_user.complete %>
	<p>Bitte füllen Sie zuerst Ihr <%= link_to "Profil", profile_path %> vollständig aus.</p>
<% else %>
	<%= form_for(@drive) do |f| %>

		<% if @drive.errors.any? %>
		<span id="fail_headline">Fehler:</span>
		<ul>
		  <% @drive.errors.full_messages.each do |message| %>
			<li class="full_messages"><%= message %></li>
		  <% end %>
		</ul>
		<% end %>
		
		<%= @drive.offer_or_quest %>
		
		<table>
			<tr>
				<td>
					<div id="offer_or_quest_option">
						<span class="info_headline">Anzeige*</span> als
						<%= f.radio_button :offer_or_quest, true %><%= f.label :offer_or_quest, 'Fahre' %>
						<%= f.radio_button :offer_or_quest, false %><%= f.label :offer_or_quest, 'Suche' %>
					</div>
				</td>
			</tr>
			<tr>
				<td class="info_headline">Titel:*</td>
			</tr>
			<tr>
				<td><%= f.text_field :title, :size => 70 %><td>
			</tr>
		</table>
		<table>
			<tr>
				<td class="info_headline">Beschreibung:*</td>
			</tr>
			<tr>
				<td><%= f.text_area :description,
	                :rows => 10,
	                :cols => 105,
	                :class => "article_textarea" %></td>
			</tr>
		</table>
		<table>
			<tr>
				<td colspan="2" class="info_headline">Details</td>
			</tr>
			<tr>
				<td>Art der Fahrt*</td>
				<td>					
					<% if @drive.type == true %>
						<%= f.radio_button :type, true %><%= label :type, 'Einfache Fahrt', :value => "true" %>
						<%= f.radio_button :type, false, :checked => true %><%= label :type, 'Hin- & Rückfahrt', :value => "false" %>
					<% else %>
						<%= f.radio_button :type, true, :checked => true %><%= label :type, 'Einfache Fahrt', :value => "true" %>
						<%= f.radio_button :type, false %><%= label :type, 'Hin- & Rückfahrt', :value => "false"%>
					<% end %>
				</td>
			</tr>
			<tr>
				<td><h4>Abfahrt</h4></td>
			</tr>
			<tr>
				<td>Straße:</td> 
				<td><%= f.text_field :departure_street %></td>
			</tr>
			<tr>
				<td>PLZ:</td> 
				<td><%= f.text_field :departure_zipcode %></td>
			</tr>
			<tr>
				<td>Ort:*</td> 
				<td><%= f.text_field :departure_city %></td>
			</tr>
			<tr>
				<td>Land:*</td> 
				<td><%= f.text_field :departure_country %></td>
			</tr>
			<tr>
				<td>Zeitpunkt:*</td>
				<td><%= f.text_field :departure_date, :readonly => 'true' %></td>
			</tr>
			<tr>
				<td><h4>Ankunft</h4></td>
			</tr>
			<tr>
				<td>Straße:</td> 
				<td><%= f.text_field :destination_street %></td>
			</tr>
			<tr>
				<td>PLZ:</td> 
				<td><%= f.text_field :destination_zipcode %></td>
			</tr>
			<tr>
				<td>Ort:*</td> 
				<td><%= f.text_field :destination_city %></td>
			</tr>
			<tr>
				<td>Land:*</td> 
				<td><%= f.text_field :destination_country %></td>
			</tr>
			<tr class="return">
				<td><h4>Rückreise</h4></td>
			</tr>
			<tr class="return">
				<td>Rückreisedatum:</td>
				<td><%= f.text_field :destination_date, :readonly => 'true' %></td>
			</tr>
		</table>
		<table>
			<tr>
				<td colspan="2" class="info_headline">Ansprechpartner</td>
			</tr>
			<tr>
				<td>Vorname:</td> 
				<td><%= f.text_field :forename %></td>
			</tr>
			<tr>
				<td>Nachname:*</td> 
				<td><%= f.text_field :lastname %></td>
			</tr>
			<tr>
				<td>E-Mail:*</td> 
				<td><%= f.text_field :email %></td>
			</tr>
			<tr>
				<td>Telefon:*</td> 
				<td><%= f.text_field :telephone %></td>
			</tr>
		</table>
		<div id="notice_for_form">* Pflichtfelder</div>
		<div id="agb_agreement">
			Ich habe die <%= link_to "AGB", "/pages/agb" %> gelesen und akzeptiere sie hiermit <%= f.check_box :agb %>
		</div>
		<div id="submit_button"><%= f.submit 'Absenden' %></div>
	<% end %>
<% end %>
<div class="back_to_overview"><%= link_to "Alle Mitfahrgemeinschaften anzeigen", drives_path %></div>
