<% title "Mitfahrgemeinschaften" + @drive.title %>

<!-- facebook send button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div id="article_head">
	<div>
		<h1><% if @drive.offer_or_quest == false %>Suche:<% else %>Fahre:<% end %> <%= @drive.title %></h1>
	</div>
	<div>
		<div class="fb-send" data-href="http://fhboerse.mediacube.at/items/<%= @drive.id %>" data-font="trebuchet ms"></div>
	</div>
	<div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fhboerse.mediacube.at/items/<%= @drive.id %>" data-lang="de" data-count="none" data-hashtags="fhbörse">Twittern</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>

<div class="article_list">
	<table class="table_fix_width">
		<tr>
			<td class="info_headline">Beschreibung:</td>
		</tr>
		<tr>
			<td><%= @drive.description %></td>
		</tr>
	</table>
	<table>
		<tr>
			<td colspan="2" class="info_headline">Art der Fahrt</td>
		</tr>
		<tr>
			<td>Art der Fahrt:</td> 
			<td><% if @drive.type == true %>Ich fahre<% else %> Ich suche<% end %></td>
		</tr>
		<tr>
			<td colspan="2" class="info_headline">Abfahrt</td>
		</tr>
		<% if @drive.departure_street %>
		<tr>
			<td>Straße:</td> 
			<td><%= @drive.departure_street %></td>
		</tr>
		<% end %>
		<% if @drive.departure_zipcode %>
		<tr>
			<td>PLZ:</td> 
			<td><%= @drive.departure_zipcode %></td>
		</tr>
		<% end %>
		<tr>
			<td>Ort:</td> 
			<td><%= @drive.departure_city %></td>
		</tr>
		<tr>
			<td>Land:</td> 
			<td><%= @drive.departure_country %></td>
		</tr>
		<tr>
			<td colspan="2" class="info_headline">Ankunft</td>
		</tr>
		<% if @drive.destination_street %>
		<tr>
			<td>Straße:</td> 
			<td><%= @drive.destination_street %></td>
		</tr>
		<% end %>
		<% if @drive.destination_zipcode %>
		<tr>
			<td>PLZ:</td> 
			<td><%= @drive.destination_zipcode %></td>
		</tr>
		<% end %>
		<tr>
			<td>Ort:</td> 
			<td><%= @drive.destination_city %></td>
		</tr>
		<tr>
			<td>Land:</td> 
			<td><%= @drive.destination_country %></td>
		</tr>
		<tr>
			<td colspan="2" class="info_headline">Zeitpunkt der Rückfahrt</td>
		</tr>
		<tr>
			<td>Zeitpunkt:</td> 
			<td><%= @drive.departure_date.strftime('%d.%m.%Y um %H:%M') %></td>
		</tr>
	</table>
	<table>
		<tr>
			<td colspan="2" class="info_headline">Ansprechpartner</td>
		</tr>
		<tr>
			<td><% if @drive.forename != "" %>Vorname:<% end %></td> 
			<td><% if @drive.forename != "" %><%= @drive.forename %><% end %></td>
		</tr>
		<tr>
			<td>Nachname:</td> 
			<td><%= @drive.lastname %></td>
		</tr>
		<tr>
			<td>E-Mail:</td> 
			<td><%= @drive.email %></td>
		</tr>
		<tr>
			<td>Telefon:</td> 
			<td><%= @drive.telephone %></td>
		</tr>
	</table>
</div>

<div class="back_to_overview"><%= link_to "Alle Anzeigen", drives_path %></div>