<h1>Alle Artikel</h1>

<%= link_to 'Neuen Artikel anlegen', new_article_path %>

<ul>
	<% @articles.each do |article| %>
	<li><%= link_to article.title, article %> von <%= user.forename %>  am <%= article.created_at %><br />
		<%= truncate(article.description, :length => 100) %></li>
	<% end %>
</ul>
