<h1>Artikel hinzufügen</h1>

<%= form_for(@article) do |f| %>

<p><%= f.text_field :title %></p>
<p><%= f.text_area :description %></p>
<p>
	<%= radio_button_tag(:type, 'angebot')  %><%= label_tag(:type_angebot, 'Angebot') %>
	<%= radio_button_tag(:type, 'gesuch')  %><%= label_tag(:type_gesuch, 'Gesuch') %>
</p>
<p><%= f.submit 'Absenden' %></p>

<% end %>

<%= link_to "Alle Artikel anzeigen", articles_path %>
