<div id="articles_list" class="articles_list">
	<ul>
		<% @jobs.each do |job| %>
			<a href="<%= url_for(job) %>">
				<li class="offer_or_quest_<%= job.offer_or_quest%>">
					<div class="title">
						<span>
							<% if job.offer_or_quest == false %>
								Suche:
							<% else %>
								Biete:
							<% end %>
						</span>
						<%= truncate(job.title, :length => 60) %>
					</div>
					<div>
						<%= truncate(job.description, :length => 160) %>
					</div>
					<div>
						<%= job.user.title%> <%= truncate(job.user.lastname, :length => 60) %> am
						<%= job.created_at.strftime("%d.%m.%Y, %H:%M") %>
					</div>
				</li>
			</a>
		<% end %>
	</ul>
</div>

<%= will_paginate @jobs, :previous_label => '&laquo; Zurück', :next_label => 'Vor &raquo;' %>