<% content_for :title, "Jobbörse" %>
<% javascript_include_tag "jquery-ba-url-min", "pagination" %>

<div class="subcategorie_head">
	<div>
		Alle Jobs - <%= @a %>
	</div>
	<div>
		<a href="<%= new_job_path %>">
			<div></div>
			<%= link_to 'Anzeige hinzufügen', new_job_path %>
		</a>
	</div>
	<div>
		<span>Filter:</span>Anzeige <%= select_tag(:filter, options_for_select([['alle', 'alle'], ['Angebot', 't'], ['Suche', 'f']])) %>
		Dienstverhältnis <%= select_tag(:service, options_for_select([
						['alle', 'alle'],						
						['Rechnung', 'Rechnung'],
                        ['Aushilfe', 'Aushilfe'],
						['Werkvertrag', 'Werkvertrag'],
						['Praktikum', 'Praktikum'],
						['Halbzeit', 'Halbzeit'],
						['Vollzeit', 'Vollzeit']
                        ])) %>
	</div>
</div>

<div id="jobs">
	<%= render :partial => 'jobs' %>
</div>
