<div class="subcategorie_head">
	<div>
		Alle Jobs
	</div>
	<div>
		<a href="<%= new_job_path %>">
			<div></div>
			<%= link_to 'Neuen Job anlegen', new_job_path %>
		</a>
	</div>
</div>

<div class="articles_list">
	<ul>
		<% @jobs.each do |job| %>
		  <a href="<%= url_for(job) %>">
		  	<li>
			  <span>
			    <span class="title"><%= job.title %></span> | 
				<%= job.user.title %> <%= job.user.lastname %> am 
				<%= job.created_at.strftime("%d.%m.%Y, %H.%Mh") %><br />
			  </span>
			  <%= truncate(job.description, :length => 180) %>
		    </li>
		  </a>
		<% end %>
	</ul>
</div>

<div class="pagination"><%= will_paginate @jobs, :previous_label => '&laquo; Zurück', :next_label => 'Vor &raquo;' %></div>
