<%= stylesheet_link_tag "datepicker/jquery-ui-1-8-16-custom.css" %>
<%= javascript_include_tag "datepicker/datepicker.js" %>

<h1>Job hinzufügen</h1>

<% if not current_user %>
	<p>Du musst angemeldet sein, um neue Jobs eintragen zu können.</p>
<% else %>
	<%= form_for(@job) do |f| %>

		<% if @job.errors.any? %>
		<span id="fail_headline">Fehler:</span>
		<ul>
		  <% @job.errors.full_messages.each do |message| %>
			<li class="full_messages"><%= message %></li>
		  <% end %>
		</ul>
		<% end %>
		
		<%= @job.offer_or_quest %>
		
	    <!--<%= f.error_messages %>-->
		
		<table>
			<tr>
				<td>
					<div id="offer_or_quest_option">
						<span class="info_headline">Anzeige*</span> als
					<%= f.radio_button :offer_or_quest, true %><%= f.label :offer_or_quest, 'Angebot' %>
					<%= f.radio_button :offer_or_quest, false %><%= f.label :offer_or_quest, 'Suche' %>
					</div>
				</td>
			</tr>
			<tr>
				<td class="info_headline">Titel:*</td>
			</tr>
			<tr>
				<td><%= f.text_field :title, :size => 70 %><td>
			</tr>
		</table>
		<table>
			<tr>
				<td class="info_headline">Beschreibung:*</td>
			</tr>
			<tr>
				<td><%= f.text_area :description,
	                :rows => 10,
	                :cols => 105,
	                :class => "article_textarea" %></td>
			</tr>
		</table>
		<table>
			<tr>
				<td class="info_headline">Qualifikationen:*</td>
			</tr>
			<tr>
				<td><%= f.text_area :qualification,
	                :rows => 10,
	                :cols => 105,
	                :class => "article_textarea" %></td>
			</tr>
		</table>
		<table>
			<tr>
				<td colspan="2" class="info_headline">Arbeitsdetails</td>
			</tr>
			<tr>
				<td id="arbeitsdetails_td">Arbeitsort:*</td>
				<td><%= f.text_field :place %></td>
			</tr>
			<tr>
				<td>Arbeitsbegin:*</td>
				<td><%= f.text_field :begindate, :readonly => 'true' %></td>
			</tr>
			<tr>
				<td>Entlohnung:*</td>
				<td>					
					<% if @job.paid == true %>
						<%= f.radio_button :paid, true, :checked => true %><%= label :paid, 'Bezahlt', :value => "true" %>
						<%= f.radio_button :paid, false %><%= label :paid, 'Freiwillig', :value => "false"%>
					<% else %>
						<%= f.radio_button :paid, true %><%= label :paid, 'Bezahlt', :value => "true" %>
						<%= f.radio_button :paid, false, :checked => true %><%= label :paid, 'Freiwillig', :value => "false" %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td><span class="paymentoptions">Dienstverhältnis:*</span></td>
				<td><span class="paymentoptions">
					<%= f.select(:employment_status, [
						['beliebig', 'beliebig'],						
						['Rechnung', 'Rechnung'],
                        ['Aushilfe', 'Aushilfe'],
						['Werkvertrag', 'Werkvertrag'],
						['Praktikum', 'Praktikum'],
						['Halbzeit', 'Halbzeit'],
						['Vollzeit', 'Vollzeit']
                        ],{ :prompt => "bitte auswählen"}
                    ) %>
                </td>	
			</tr>
			<tr>
				<td><span class="paymentoptions">Bezahlung:</span></td>
				<td><span class="paymentoptions"><%= f.text_field :salary %> in €</span></td>
			</tr>
		</table>	
		<table>
			<tr>
				<td colspan="2" class="info_headline">Ansprechpartner</td>
			</tr>
			<tr>
				<td id="ansprechpartner_td">Firma:</td> 
				<td><%= f.text_field :company %></td>
			</tr>
			<tr>
				<td>Vorname:</td> 
				<td><%= f.text_field :forename %></td>
			</tr>
			<tr>
				<td>Nachname:*</td> 
				<td><%= f.text_field :lastname %></td>
			</tr>
			<tr>
				<td>E-Mail:*</td> 
				<td><%= f.text_field :email %></td>
			</tr>
			<tr>
				<td>Telefon:*</td> 
				<td><%= f.text_field :telephone %></td>
			</tr>
		</table>
		<div id="notice_for_form">* Pflichtfelder</div>
		<div id="agb_agreement">
			Ich habe die AGB gelesen und akzeptiere sie hiermit <%= f.check_box :agb %>
		</div>
		<div id="submit_button"><%= f.submit 'Absenden' %></div>
	<% end %>
<% end %>
<div class="back_to_overview"><%= link_to "Alle Jobs anzeigen", jobs_path %></div>
