<%= stylesheet_link_tag "datepicker/jquery-ui-1.8.16.custom.css" %>
<%= javascript_include_tag "datepicker/jquery-1.6.2.min.js" %>
<%= javascript_include_tag "datepicker/jquery-ui-1.8.16.custom.min.js" %>
<%= javascript_include_tag "datepicker/datepicker.js" %>

<h1>Job hinzufügen</h1>

<% if not current_user %>
<p>Du musst angemeldet sein, um neue Jobs eintragen zu können.</p>
<% else %>
<%= form_for(@job) do |f| %>

	<% if @job.errors.any? %>
	<h2>Fehler:</h2>
	<ul>
	  <% @job.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	  <% end %>
	</ul>
	<% end %>
	
    <!--<%= f.error_messages %>-->
	
	<p>Title: <%= f.text_field :title %></p>
	<p>Beschreibung:<br><%= f.text_area :description %></p>
	<p>Qualifikationen:<br><%= f.text_area :qualification %></p>
	<p> Angebot oder Gesuch: 
		<%= f.radio_button :offer_or_quest, true %><%= f.label :offer_or_quest, 'Angebot', :value => true %>
		<%= f.radio_button :offer_or_quest, false %><%= f.label :offer_or_quest, 'Gesuch', :value => false %>
	</p>
	
	<p> Art der Arbeit:
		<%= f.radio_button :paid, true %><%= f.label :paid, 'Bezahlt', :value => true %>
		<%= f.radio_button :paid, false %><%= f.label :paid, 'Freiwillig', :value => false %>
	</p>
	
	<p>Bezahlung: <%= f.text_field :salary %> in €</p>
	<p>Art des Dienstverhältnisses: <%= select(:person, :city_id, [['Vollzeit', 'Vollzeit'], ['Halbzeit', 'Halbzeit'], ['Aushilfe', 'Aushilfe'], ['Werkvertrag', 'Werkvertrag']]) %></p>
	<p>Arbeitsort: <%= f.text_field :place %></p>
	<p>Begindatum: <%= f.text_field :begindate %></p>
	<p>Firma: <%= f.text_field :company %></p>
	
	<p>Vorname: <%= f.text_field :forename %></p>
	<p>Nachname: <%= f.text_field :lastname %></p>
	<p>E-Mail: <%= f.text_field :email %></p>
	<p>Telefon: <%= f.text_field :telephone %></p>
	<p><%= f.submit 'Absenden' %></p>
<% end %>

<% end %>

<%= link_to "Alle Jobs anzeigen", jobs_path %>