<%= stylesheet_link_tag "datepicker/jquery-ui-1.8.16.custom.css" %>
<%= javascript_include_tag "datepicker/jquery-1.6.2.min.js" %>
<%= javascript_include_tag "datepicker/jquery-ui-1.8.16.custom.min.js" %>
<%= javascript_include_tag "datepicker/datepicker.js" %>

<h1>Job hinzufügen</h1>
<%= form_for(@job) do |f| %>

	<% if @job.errors.any? %>
	<h2>Errors:</h2>
	<ul>
	  <% @job.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	  <% end %>
	</ul>
	
	<% end %>
	<p>Title: <%= f.text_field :title %></p>
	<p>Beschreibung:<br><%= f.text_area :description %></p>
	<p>Qualifikationen:<br><%= f.text_area :qualification %></p>
	<p> Angebot oder Gesuch: 
		<!-- why without a f.?! Ask Raidel -->
		<%= radio_button_tag(:offer_or_quest, true) %><%= label_tag(:type_angebot, 'Angebot') %>
		<%= radio_button_tag(:offer_or_quest, false) %><%= label_tag(:type_gesuch, 'Gesuch') %>
	</p>
	
	<p> Art der Arbeit:
		<%= radio_button_tag(:paid, true) %><%= label_tag(:type_bezahlt, 'Bezahlt') %>
		<%= radio_button_tag(:paid, false) %><%= label_tag(:type_freiwillig, 'Freiwillig') %>
	</p>
	
	<p>Bezahlung: <%= f.text_field :salary %> in €</p>
	<p>Art des Dienstverhältnisses: <%= select_tag(:employment_status, options_for_select([['Vollzeit', 'Vollzeit'], ['Halbzeit', 'Halbzeit'], ['Aushilfe', 'Aushilfe'], ['Werkvertrag', 'Werkvertrag']])) %></p>
	<p>Arbeitsort: <%= f.text_field :place %></p>
	<p>Begindatum: <%= f.text_field :begindate %></p>
	<p>Firma: <%= f.text_field :company %></p>
	
	<p>Vorname: <%= f.text_field :forename %></p>
	<p>Nachname: <%= f.text_field :lastname %></p>
	<p>E-Mail: <%= f.text_field :email %></p>
	<p>Telefon: <%= f.text_field :telephone %></p>
	<p><%= f.submit 'Absenden' %></p>
<% end %>

<%= link_to "Alle Jobs anzeigen", jobs_path %>