<% content_for :title, "Jobbörse" %>

<!-- facebook send button -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>


<div id="article_head">
	<div>
		<h1><%= @job.title %></h1>
	</div>
	<div>
		<div class="fb-send" data-href="http://fhboerse.mediacube.at/jobs/<%= @job.id %>" data-font="trebuchet ms"></div>
	</div>
	<div>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fhboerse.mediacube.at/jobs/<%= @job.id %>" data-lang="de" data-count="none" data-hashtags="fhbörse">Twittern</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>

<div class="article_list">
	<table class="table_fix_width">
		<tr>
			<td class="info_headline">Beschreibung:</td>
		</tr>
		<tr>
			<td><%= @job.description %></td>
		</tr>
	</table>
	<table class="table_fix_width">
		<tr>
			<td class="info_headline">Qualifikationen:</td>
		</tr>
		<tr>
			<td><%= @job.qualification %></td>
		</tr>
	</table>
	
	<table>
		<tr>
			<td colspan="2" class="info_headline">Arbeitsdetails</td>
		</tr>
		<tr>
			<td id="arbeitsort_table">Arbeitsort:</td>
			<td><%= @job.place %></td>
		</tr>
		<tr>
			<td>Arbeitsbegin:</td>
			<td><%= @job.begindate.strftime('%d.%m.%Y')%></td>
		</tr>
		<tr>
			<td><% if @job.paid == false %>Mitarbeit:<% end %></td>
			<td><% if @job.paid == false %>Freiwillig<% end %></td>
		</tr>
		<tr>
			<td><% if @job.paid == true %>Dienstverhältnis:<% end %></td>
			<td><% if @job.paid == true %><%= @job.employment_status %><% end %></td>
		</tr>
		<tr>
			<td><% if @job.paid == true %>Bezahlung:<% end %></td>
			<td><% if @job.paid == true %><%= @job.salary %> €<% end %></td>
		</tr>
	</table>	
	<table>
		<tr>
			<td colspan="2" class="info_headline">Ansprechpartner</td>
		</tr>
		<tr>
			<td id="ansprechpartner_table"><% if @job.company != "" %>Firma:<% end %></td> 
			<td><% if @job.company != "" %><%= @job.company %><% end %></td>
		</tr>
		<tr>
			<td><% if @job.forename != "" %>Vorname:<% end %></td> 
			<td><% if @job.forename != "" %><%= @job.forename %><% end %></td>
		</tr>
		<tr>
			<td>Nachname:</td> 
			<td><%= @job.lastname %></td>
		</tr>
		<tr>
			<td>E-Mail:</td> 
			<td><%= @job.email %></td>
		</tr>
		<tr>
			<td>Telefon:</td> 
			<td><%= @job.telephone %></td>
		</tr>
	</table>
</div>

<p><%= link_to "Zurück", jobs_path %></p>
