<% title "Startseite" %>

<% if @my_articles.count > 0 %>
<div class="articles_list">
	<h2>Von mir inserierte Anzeigen</h2>
	<ul>
		<% @my_articles.each do |article| %>
			<a href="<%= url_for(article) %>">
				<li class="isOffer_<%= article.isOffer%> <%=article.module%>">
					<div class="title">
						<span>
							<% if article.isOffer == false %>
								Suche:
							<% else %>
								<% if article.module == "apartment" %>Biete:
								<% elsif article.module == "drive" %>Fahre:
								<% elsif article.module == "item" %>Gefunden:
								<% elsif article.module == "job" %>Biete:
								<% elsif article.module == "product" %>Biete:
								<% else %>Biete:
								<% end %>
							<% end %>
						</span>
						<%= truncate(article.title, :length => 60) %>
					</div>
					<div>
						<%= truncate(article.description, :length => 160) %>
					</div>
					<div>
						<%= article.user_title%> <%= truncate(article.user_lastname, :length => 60) %> am
						<%= article.created_at.strftime("%d.%m.%Y, %H:%M") %>
					</div>
				</li>
			</a>
		<% end %>
	</ul>
</div>
<% end %>

<div class="articles_list">
	<h2>Die neusten Artikel aus allen Bereichen</h2>
	<ul>
		<% @latest_articles.each do |article| %>
			<a href="<%= url_for(article) %>">
				<li class="isOffer_<%= article.isOffer%> <%=article.module%>">
					<div class="title">
						<span>
							<% if article.isOffer == false %>
								Suche:
							<% else %>
								<% if article.module == "apartment" %>Biete:
								<% elsif article.module == "drive" %>Fahre:
								<% elsif article.module == "item" %>Gefunden:
								<% elsif article.module == "job" %>Biete:
								<% elsif article.module == "product" %>Biete:
								<% else %>Biete:
								<% end %>
							<% end %>
						</span>
						<%= truncate(article.title, :length => 60) %>
					</div>
					<div>
						<%= truncate(article.description, :length => 160) %>
					</div>
					<div>
						<%= article.user_title%> <%= truncate(article.user_lastname, :length => 60) %> am
						<%= article.created_at.strftime("%d.%m.%Y, %H:%M") %>
					</div>
				</li>
			</a>
		<% end %>
	</ul>
</div>
