<% title "Startseite" %>

<% if @my_articles.count > 0 %>
<div class="articles_list">
	<h2>Von mir inserierte Anzeigen</h2>
	<ul>
		<% @my_articles.each do |article| %>
			<a href="<%= url_for(article) %>">
				<li class="offer_or_quest_<%= article.offer_or_quest%> <%=article.module%>">
					<div class="title">
						<span>
							<% if article.offer_or_quest == false %>
								Suche:
							<% else %>
								<% if article.module == "apartment" %>Biete:<% end %>
								<% if article.module == "drive" %>Fahre:<% end %>
								<% if article.module == "item" %>Gefunden:<% end %>
								<% if article.module == "job" %>Biete:<% end %>
								<% if article.module == "product" %>Biete:<% end %>
							<% end %>
						</span>
						<%= truncate(article.title, :length => 60) %>
					</div>
					<div>
						<%= truncate(article.description, :length => 160) %>
					</div>
					<div>
						<%= article.user.title%> <%= truncate(article.user.lastname, :length => 60) %> am
						<%= article.created_at.strftime("%d.%m.%Y, %H:%M") %>
					</div>
				</li>
			</a>
		<% end %>
	</ul>
</div>
<% end %>

<div class="articles_list">
	<h2>Die neusten Artikel aus allen Bereichen</h2>
	<ul>
		<% @latest_articles.each do |article| %>
			<a href="<%= url_for(article) %>">
				<li class="offer_or_quest_<%= article.offer_or_quest%> <%=article.module%>">
					<div class="title">
						<span>
							<% if article.offer_or_quest == false %>
								Suche:
							<% else %>
								Biete:
							<% end %>
						</span>
						<%= truncate(article.title, :length => 60) %>
					</div>
					<div>
						<%= truncate(article.description, :length => 160) %>
					</div>
					<div>
						<%= article.user.title%> <%= truncate(article.user.lastname, :length => 60) %> am
						<%= article.created_at.strftime("%d.%m.%Y, %H:%M") %>
					</div>
				</li>
			</a>
		<% end %>
	</ul>
</div>
