<% title "Kontakt" %>
<%= stylesheet_link_tag "contact_us" %>

<h2><%= t('.Kontakt') %></h2>
Haben Sie Wünsche, Beschwerden, Ihnen ist etwas aufgefallen und möchten es gerne melden?<br>
Dann nutzen Sie bitte das Kontaktformular! Wir versuchen Ihr Anliegen schnellst möglich zu bearbeiten!
<%= semantic_form_for @contact, :url => contacts_path do |f| %>
  <%= f.input :email, :label => t('.email') %>
  <%= f.input :message, :as => :text, :label => t('nachricht') %>
  <%= f.commit_button t('.submit'), :button_html => { :alt => t('.submit'), :id => 'contact_us_contact_submit', :title => t('.submit') } %>
<% end %>
