<div id="articles_list" class="articles_list">
	<ul>
		<% @items.each do |item| %>
			<a href="<%= url_for(item) %>">
				<li class="isOffer_<%= item.isOffer%> item">
					<div class="title">
						<span>
							<% if item.isOffer == false %>
								Suche:
							<% else %>
								Gefunden:
							<% end %>
						</span>
						<%= truncate(item.title, :length => 60) %>
					</div>
					<div>
						<%= truncate(item.description, :length => 160) %>
					</div>
					<div>
						<%= item.user.title%> <%= truncate(item.user.lastname, :length => 60) %> am
						<%= item.created_at.strftime("%d.%m.%Y, %H:%M") %>
					</div>
				</li>
			</a>
		<% end %>
	</ul>
</div>

<%= will_paginate @items, :previous_label => '&laquo; Zurück', :next_label => 'Vor &raquo;' %>