<div id="articles_list" class="articles_list">
	<ul>
		<% @apartments.each do |apartment| %>
			<a href="<%= url_for(apartment) %>">
				<li class="isOffer_<%= apartment.isOffer%> apartment">
					<div class="title">
						<span>
							<% if apartment.isOffer == false %>
								Suche:
							<% else %
								Biete:
							<% end %>
						</span>
						<%= truncate(apartment.title, :length => 60) %>
					</div>
					<div>
						<%= truncate(apartment.description, :length => 160) %>
					</div>
					<div>
						<%= apartment.user_title%> <%= truncate(apartment.user_lastname, :length => 60) %> am
						<%= apartment.created_at.strftime("%d.%m.%Y, %H:%M") %>
					</div>
				</li>
			</a>
		<% end %>
	</ul>
</div>

<%= will_paginate @apartments, :previous_label => '&laquo; Zurück', :next_label => 'Vor &raquo;' %>