<% title "Wohnungsbörse" %>
<% javascript_include_tag "jquery-ba-url-min", "pagination" %>

<div class="maincategorie_head">
	<div>
		Alle Anzeigen:
	</div>
	<div>
		<a href="<%= new_apartment_path %>">
			<div></div>
			<%= link_to 'Anzeige hinzufügen', new_apartment_path %>
		</a>
	</div>
</div>
<div class="filters">
	<div>
		<span>Filter:</span>Anzeigen <%= select_tag(:filter, options_for_select([['alle', 'alle'], ['Biete', 't'], ['Suche', 'f']])) %>
		Immobilienüberlassung <%= select_tag(:type_of_leasebuyrent, options_for_select([
						['alle', 'alle'],
						['Miete','vermietet'],
						['Kauf', 'verkauft'],
						['Pacht', 'verpachtet']
                 ]))%>
	</div>
	<div>
		<!-- storing the params to set select-lists via javascript -->
		<%= hidden_field_tag :filter_value, (params[:filter] or "")  %>
		<%= hidden_field_tag :type_of_leasebuyrent_value, (params[:type_of_leasebuyrent] or "")  %>
	</div>
</div>

<div id="apartments">
	<%= render :partial => 'apartments' %>
</div>
